.burgerMenu {
  right: 0;
  flex-direction: column;
  margin-top: 3px ;
  padding: 0px 0px;
  position: absolute;
  background-color: white;
  z-index: 10;
  list-style: none; 
}

.burgerMenu > li > a {
  cursor: pointer; 
  display: flex;
  padding: 10px 5px;
  word-wrap:initial;
}

.burgerMenu > li:hover > a {
  border-bottom: 3px solid green;
  margin-bottom: -3px;
}

.submenu {
  margin-top: 3px;
  flex-direction: column;
  padding: 0px 0px;
  background-color: white;
  list-style: none;
}

.submenu > li {
  padding-left: 10px;
}

.submenu > li > a {
  width: 100%;
  display: flex;
  padding: 10px 5px;
  white-space: nowrap;
  cursor: pointer;
}

.submenu > li:hover a{
  border-bottom: 3px solid green;
  margin-bottom: -3px;
}

.activeLink {
  border-bottom: 3px solid green;
  margin-bottom: -3px;
}

.active {
  display: block;
}

.noActive {
  display: none;
}