.burgerMenu {
  display: none;
  right: 0;
  margin-top: 3px ;
  padding: 0px 0px;
  position: absolute;
  background-color: white;
  z-index: 10;
  list-style: none; 
}

li:hover .burgerMenu{
 display: block;
}

.burgerMenu > li > a {
  min-width: 150px;
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 5px;
  cursor: pointer;
  border-bottom: 0.1px solid;
}

.burgerMenu > li:hover > a, .submenu > li:hover > a{
  background-color: rgba(95, 95, 95, 0.1)
}

.burgerMenu > li:hover > a > span:last-child, .submenu > li:hover > a > span:last-child  {
  border-bottom: 2px solid green;
  margin-bottom: -2px;
}

.submenu {
  margin-top: 3px;
  padding: 0px 0px;
  background-color: white;
  list-style: none;
}

.submenu > li > a {
  display: flex;
  padding: 10px 5px;
  cursor: pointer;
}
