li:hover .submenu{
  display: block;
}

.submenu {
  min-width: 150px;
  display: none;
  padding: 20px 20px 20px 0;
  position: absolute;
  background-color: white;
  box-shadow:  0 0 5px rgba(23, 24, 24, 0.05), 0 1px 2px rgba(0, 0, 0, 0.15);
  z-index: 10;
  list-style: none;
}

.submenu > li > a{
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}

.submenu > li > a > span:first-child{
  margin: 0 20px 0 0;
}

.submenu > li {
  position: relative;
}

.submenu > li:hover > a::before, li.activeSubLink > a::before {
  content: "";
  position: absolute;
  color: #008060;
  fill: #008060;
  background: #008060;
  left: 0px;
  width: 4px;
  height: calc(100% - 15px);
}

.submenu > li:hover > a{
  background-color: #f6f6f7;
}

li.activeLink {
  padding-top: 4px;
}

li.activeLink > a > div{
  color: #008060;
  border-bottom: 4px solid #008060;
}


