.navbar {
  display: flex;
  height: 48px;
  background-color: #f6f6f7;
}

.left, .right {
  display: flex;
  padding: 0;
  margin: 0;
}

.right {
  flex-direction: row-reverse
}

.wrapperRight {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.left > li, .right > li {
  display: block;
  position: relative;
}

.left a, .right a {
  width: 100%;
  cursor: pointer;
}

.left > li > a > div, .right> li > a > div{
  display: flex;
  height: 100%;
  white-space: nowrap;
  align-items: center;
  margin: 0 20px;
  font-size: 14px;
}

.left span {
  margin: 0 10px 0 0;
}

.left > li:hover, .right > li:hover{
  background-color: white;
}
